/* Header styles */
.header {
    font-size: 1.4rem;
    color: #e0354b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    background: #fff; /* Added background to the header to ensure visibility */
    z-index: 1000; /* Ensure header is on top */
}

/* Logo styles */
.logo {
    margin: 0;
}

/* Menu toggle button styles */
.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    color: #e0354b;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Button group styles */
.button-group {
    display: flex;
    align-items: center;
}

/* Button styles */
.button-group button {
    margin-left: 10px;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    color: #e0354b;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Button hover styles */
.button-group button:hover {
    color: #c02d43;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .button-group {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 0%;
        
        position: absolute;
        top: 0%;
        left: 0;
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
        z-index: 2000; /* Ensure button group is on top */
    }

    .button-group.show {
        display: flex;
    }

    .button-group button {
        width: 100%;
        margin: 5px 0;
        text-align: left; /* Align icons to the left */
    }

    .dropdown {
        width: 100%; /* Ensure dropdown takes full width in mobile view */
    }

    .dropdown-menu {
        position: static; /* Position dropdown statically */
        width: 100%; /* Ensure dropdown takes full width in mobile view */
        box-shadow: none; /* Remove box-shadow for dropdown */
    }
}
